services:
    app:
        image: "jonatanfd/redis-fastify:latest"
        ports:
            - "3000:3000"
        environment:
            # En docker, el host es el nombre del servicio ('redis'), no 'localhost'
            - REDIS_HOST=redis
        depends_on:
            - redis

    redis:
        image: "redis:latest"
        ports:
            - "6379:6379"
